
<div class="jumbotron center">
  <h1>Welcome to the land of Aromas</h1>
  <h2>Home page for recipes land</h2>
  <p><a href="" ,class:"btn btn-warning">Sign Up</a></p>
</div>
<div class="row">
  <div class="col-md-4">
   <h3>View recipes as guest</h3>
   <h4>View as guest and sign up later</h4>
   <a href="" ,class:"btn btn-warning">Browse Recipes</a>
  </div>
  <div class="col-md-4">
   <h3>View recipes as guest</h3>
    <h4>View as guest and sign up later</h4>
   <a href="" ,class:"btn btn-warning">Browse Recipes</a>
  </div>
  <div class="col-md-4">
   <h3>View recipes as guest</h3>
    <h4>View as guest and sign up later</h4>
   <a href="" ,class:"btn btn-warning">Browse Recipes</a>
  </div>
</div>
